.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}




body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
  
  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    background: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
    
    
}
p{
    font-weight: light;
    color: hsl(0, 0%, 42%);
    
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    max-width: 327px;
    border: 2px solid #fff;
    padding: 24px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 10px 8px 0px rgba(0, 0, 0, 0.8), 10px 8px 0px rgba(0, 0, 0, 0.8);
    

}

.img-container {
    background: url("./assets/images/illustration-article.svg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 336px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 35px;

}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 336px;
    color:hsl(0, 0%, 42%);
  
 
  }


.content-container h1 {
    font-size: 24px;
    font-weight: 800;
    margin:0;
    color:hsl(0, 0%, 7%);
}
.content-container h1:hover{
    color: hsl(47, 88%, 63%);
}
.content-container .text{
  line-height: 25px;
  
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 336px;
    font-weight: 800;


}
.footer-container p{
    font-weight: 800;
    font-size: 14px;
    color:hsl(0, 0%, 7%);
  

}

.footer-container img {
    max-width: 32px;
    height: 32px;
    padding-right: 10px;

}